body {
	margin: auto;
    text-align: center;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh;
}
header {
	padding-bottom: 10px;
	border-bottom: thin solid #777;
    font-family: 'Indie Flower', cursive;
}
label {
	padding: 0;
	margin: 0;
}
h1 {
	margin-top: 5px;
	margin-bottom: 15px;
	padding: 0;
    font-family: 'Indie Flower', cursive;
	font-size: 2em;
	font-weight: bold;
}
footer {
	padding: 10px 0px;
	border-top: thin solid #ffffff;
}
#title {
	font-size: 4em;
	font-weight: bold;
	color: white;
}
#subtitle {
	font-size: 1.5em;
	color: white;
}
.content {
	padding: 20px 0px 40px 0px;
	height: 500px;
}

video#backgroundVideo {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	object-fit: cover; /* Чтобы видео занимало весь экран */
	z-index: -1; /* Помещаем видео позади всех других элементов */
}



#timer {
	font-family: 'Comfortaa', sans-serif;
    font-size: 12em;
    font-weight: bold;
	color: white;
	text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

#titlebox{
	font-family: 'Comfortaa', sans-serif;
}

button.btn_default {
	padding: 8px 12px;
    margin: 2px 0px;
    font-weight: bold;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid;
}

#btn_pomodoro{
	font-family: 'Comfortaa', sans-serif;
	margin-right:10px;
	font-size: 14px;
	background-color: #2d2d2d33;
	border: 3px solid white;
	color: #ffffff;
	border-radius: 10px;
	text-shadow: 8px 8px 16px rgba(0, 0, 0, 1);
	transition: transform 0.3s ease; /* Плавная анимация при увеличении */
}

#btn_shortbreak{
	font-family: 'Comfortaa', sans-serif;
	margin-right:10px;
	font-size: 14px;
	background-color: #2d2d2d33;
	border: 3px solid white;
	color: #ffffff;
	border-radius: 10px;
	text-shadow: 8px 8px 16px rgba(0, 0, 0, 1);
	transition: transform 0.3s ease; /* Плавная анимация при увеличении */
}

#btn_longbreak{
	font-family: 'Comfortaa', sans-serif;
	font-size: 14px;
	background-color: #2d2d2d33;
	border: 3px solid white;
	color: #ffffff;
	border-radius: 10px;
	text-shadow: 8px 8px 16px rgba(0, 0, 0, 1);
	transition: transform 0.3s ease; /* Плавная анимация при увеличении */
}

#btn_pomodoro:hover,
#btn_longbreak:hover,
#btn_shortbreak:hover {
	transform: scale(1.1); /* Увеличение кнопки на 10% */
}

#btn_custom{
	background-color: #1d3557;
	border: 1px solid white;
	color: white;
}
#btn_start {
	font-family: 'Comfortaa', sans-serif;
	margin-top: 150px;
	font-size: 32px;
    background-color: #2d2d2d33;
	border: 3px solid white;
	color: #ffffff;
	border-radius: 10px;
	text-shadow: 8px 8px 16px rgba(0, 0, 0, 1);
	transition: transform 0.3s ease; /* Плавная анимация при увеличении */
}

#btn_pause {
	font-family: 'Comfortaa', sans-serif;
	margin-top: 150px;
	font-size: 32px;
	background-color: #2d2d2d33;
	border: 3px solid white;
	color: #ffffff;
	border-radius: 10px;
	text-shadow: 8px 8px 16px rgba(0, 0, 0, 1);
	transition: transform 0.3s ease; /* Плавная анимация при увеличении */
}

#btn_start:hover,
#btn_pause:hover {
	transform: scale(1.1); /* Увеличение кнопки на 10% */
}

#ipt_custom {
	padding: 8px 12px;
    width: 75px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid;
    text-align: center;
}
#custom_units {
	padding: 8px 12px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid;
    text-align: center;
}
div.footerbox {
	max-width: 300px;
	margin:	10px 5px;
	display: inline-block;
	vertical-align: top;
    padding: 8px 12px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	color: white;
}
div.footerbox ol {
	display: inline-block;
	text-align: left;
	padding-left: 15px;
}
#options {
	text-align: left;
	color: black;
}
#options label {
	color: white;
	margin-bottom: 5px;
}
#options select {
	width: 100%;
	margin-bottom: 20px;
}
.credits {
    margin: 2em 0;
    color: #ffffff;
}

#button-container{
	align-content: left;
}

#audioPlayer {
	background-color: #ffffff;
	border-radius: 10px;
	padding: 15px;
	width: 100%;
	margin: 20px 0;
}

/* Центрированный контейнер с прозрачностью */
.main_container {
	background-color: rgba(0, 0, 0, 0.4); /* черный с 70% прозрачностью */
	width: 50%;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translate(50%, -50%);
	border-radius: 10px; /* слегка скругленные углы */
}

/* Новый контейнер справа */
.todo-container {
	background-color: #000000; /* Тот же фон, что и у основного контейнера */
	width: 20%; /* Уже, чем основной контейнер */
	height: 80%;
	padding: 20px;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translate(10%, -50%);
	border-radius: 10px;
	color: white;
}

.settings-container {
	background-color: rgba(0, 0, 0, 0.85); /* Тот же фон, что и у основного контейнера */
	width: 20%; /* Уже, чем основной контейнер */
	height: 80%;
	padding: 20px;
	text-align: center;
	position: absolute;
	top: 10%;
	right: 2.5%;
	border-radius: 10px;
	color: white;
}

/* Обновление стилей для кнопочного контейнера */
.button-container { /* Полупрозрачный чёрный фон */
	width: 80%; /* Ширина контейнера */
	padding: 20px;
	text-align: center;
	position: relative;
	margin: 0 auto; /* Центрирование */
	border-radius: 15px;
	gap: 20px; /* Отступы между кнопками */
	display: flex;
	flex-direction: row; /* Изменяем направление на горизонтальное (ряд) */
	justify-content: center;
	align-items: center;
	color: white;
}

/* Общие стили для всех кнопок */
.button {
	position: relative;
	width: 300px;
	height: 100px; /* Соотношение 3:1 */
	overflow: hidden;
	border-radius: 10px;
	transition: transform 0.3s ease-in-out;
	border: 2px solid #ababab;
	font-family: 'Comfortaa', sans-serif;
}

.button img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.button .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.35); /* Чёрный с прозрачностью */
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 8px 8px 16px rgba(0, 0, 0, 1); /* Добавляем тень для текста */
	user-select: none;
	cursor: pointer; /* Меняем курсор на указатель при наведении */
}

/* Увеличение кнопок при наведении */
.button:hover {
	transform: scale(1.1); /* Увеличение на 10% */
}

.active {
	background-color: #386641 !important; /* Зеленый фон для активной кнопки */
	color: #ffffff !important; /* Белый текст */
	border-color: #ffffff !important; /* Зеленая граница */
	text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.8); /* Меньшая тень */
}

/* Music Player Style*/

.music-container{
	transform-origin:right;
	background-color: #efefefb3;
	height: 450px;
	width: 300px;
	border-radius: 20px;
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
	transition: all 0.5s ease;

	/* Для размещения в правом верхнем углу */
	position: absolute;
	top: 20px; /* Отступ сверху */
	right: 100px; /* Отступ справа */
}

.container:hover{
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}

.player-img{
	width: 200px;
	height: 200px;
	position: relative;
	top: -10px;
	left: 50px;
}

.player-img img{
	object-fit: cover;
	border-radius: 20px;
	height: 0;
	width: 0;
	opacity: 0;
	box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

.player-img:hover img{
	box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.8);
}

.player-img img.active{
	width: 100%;
	height: 100%;
	transition: all 0.5s;
	opacity: 1;
}

h2{
	font-size: 25px;
	text-align: center;
	font-weight: 500;
	margin: 10px 0 0;
}

h3{
	font-size: 18px;
	text-align: center;
	font-weight: 500;
	margin: 10px 0 0;
}

h6{
	font-size: 14px;
	text-align: center;
	font-weight: 500;
}

.player-progress{
	background-color: #fff;
	border-radius: 5px;
	cursor: pointer;
	margin: 40px 20px 35px;
	height: 6px;
	width: 90%;
}

.progress{
	background-color: #212121;
	border-radius: 5px;
	height: 100%;
	width: 0%;
	transition: width 0.1s linear;
}

.music-duration{
	position: relative;
	top: -15px;
	display: flex;
	justify-content: space-between;
}

.player-controls{
	position: relative;
	top: -10px;
	left: 70px;
	width: 200px;
}

.fa-solid{
	font-size: 30px;
	color: #666;
	margin-right: 30px;
	cursor: pointer;
	user-select: none;
	transition: all 0.3s ease;
}

.fa-solid:hover{
	filter: brightness(40%);
}

.play-button{
	font-size: 33px;
	position: relative;
	top: 3px;
}

/*VOLUME STYLE*/


.volume-wrapper {
	position: relative;
	width: 200px;
	height: 5px;
	display: flex;
	align-items: center;  /* Центрирование по вертикали */
	justify-content: center;  /* Центрирование по горизонтали */
	margin: 0 auto;  /* Центрирование всего контейнера на странице */
}

.volume-bar {
	position: relative;
	background-color: #e0e0e0;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.volume-progress {
	position: absolute;
	left: 0;
	background-color: #696969;
	height: 100%;
	width: 50%; /* Прогресс обновляется мгновенно */
}

#volume-control {
	position: absolute;
	width: 100%;
	height: 100%;
	background: transparent;
	cursor: pointer;
	appearance: none;
}

#volume-control::-webkit-slider-thumb {
	appearance: none;
	width: 10px;
	height: 10px;
	background-color: #3f3f3f;
	border-radius: 50%;
	cursor: pointer;
}

#volume-control::-moz-range-thumb {
	width: 11px;
	height: 16px;
	background-color: #007bff;
	border-radius: 50%;
	cursor: pointer;
}

/*MODIFY TIME STYLE*/

#currentTimeDisplay{
	font-family: 'Comfortaa', sans-serif;
	color: white;
}

#decreaseTime, #increaseTime {
	font-family: 'Comfortaa', sans-serif;
	font-size: 24px;
	height: 40px;
	width: 40px;
	background: linear-gradient(135deg, #8c8c8c, #505050b3); /* Градиентный фон */
	border: none; /* Убираем рамку */
	color: #ffffff;
	border: 2px solid white;
	border-radius: 10px; /* Слегка закругленные углы */

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0;
	margin: 0;

	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: background 0.3s ease, transform 0.3s ease;
}
#decreaseTime:hover, #increaseTime:hover {
	background: linear-gradient(135deg, #444444, #2d2d2d); /* Изменение цвета при наведении */
	transform: scale(1.1);
}

/*LOGIN WITH TODOIST BUTTON*/

.btn_todoist {
	background-color: #fc5c65;
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	position: fixed;  /* Фиксированное положение на экране */
	left: 100px;       /* Позиция слева */
	top: 10px;        /* Отступ сверху */
	border-radius: 8px; /* Закругленные края кнопки */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень */
	transition: background 0.3s ease, transform 0.3s ease;
}

.btn_todoist:hover {
	background-color: #e74c3c; /* Изменение цвета при наведении */
	transform: scale(1.05);    /* Увеличение кнопки при наведении */
}

/*USER TODOIST*/

#user-info {
	display: flex;
	align-items: center;
	margin-top: 200px;
}

#user-avatar {
	margin-right: 10px;
	border: 2px solid #ccc;
}

#user-name {
	font-family: 'Comfortaa', sans-serif;
	font-size: 1.5em;
	color: #ffffff;
}
