body {
    background-image: url('https://images7.alphacoders.com/135/1351303.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
